.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}

.address {
    justify-self: end;
    font-style: normal;
    font-size: 18px;
    left: 810px;
    border-width: 1px;
    overflow: visible;
}

.header__address {
    overflow: visible;
    display: flex;
    padding-top: 96px;
    padding-right: 40px;
    margin-left: -20px;
}

.header_logo {
    display: block;
    grid-column: 2;
    justify-self: center;
    height: 105px;
    top: 92px;
    margin-top: 92px;
    margin-bottom: 96px;
    margin-left: 40px;
    margin-right: 180px;
    width: 139px;
}

.header__links-list {
    display: flex;
    padding-bottom: 5px;
    margin: 0;
    gap: 32px;
    list-style: circle;
}


.header__links-list-item {
    font-weight: 400px;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.header__links-list li:first-child a {
    text-decoration: none;
}

.header__links-list li:first-child {
    list-style: none;
}

.header__links-list a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.header_menu {
    width: 391.48px;
    top: 133px;
    left: 70px;
    padding-left: 2px;
}

.address a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}

.cover {

    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/cover.jpg);
    background-size: cover;
    width: 1100px;
    padding-top: 39px;
    background-position: -137px 1px;
}

.cover_title {
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 1000px;
    top: 165px;
    left: 50px;
    justify-content: space-around;
    font-size: 100px;
    color: rgb(248, 248, 248);
    text-transform: uppercase;
}

.aligned-text {
    display: flex;
    line-height: 0.2;
    top: 170px;
    left: 50px;
    letter-spacing: 30px;
    font-size: 100px;
    padding-left: 50px;
    padding-top: 175px;
}

.aligned-text__center {
    padding-left: 130px;
    padding-top: 64px;
    display: flex;
    justify-content: center;
    align-content: center;
    letter-spacing: 30px;
    font-size: 100px;
}

.aligned-text__right {
    padding-top: 18px;
    margin-right: -80px;
    display: flex;
    justify-content: end;
    align-content: center;
    letter-spacing: 30px;
    font-size: 100px;
}

.description {
    display: flex;
    justify-content: space-between;
    margin-left: 47px;
    align-items: center;
    text-align: left;
    padding-top: 105px;
    padding-bottom: 50px;
}


.text__cover {
    font-family: "Raleway";
    font-size: 22px;
    line-height: 10px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 100%;
    word-spacing: 18.5px;
}

.bet-button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    background: none;
    border: 1px solid white;
    width: 258px;
    height: 53px;
    margin-right: 49px;
}

.lots {
    margin-top: 183px;
    margin-bottom: 30px;
    margin-left: 24px;
    margin-right: 120px;
    width: 1052px;
    top: 1230px;
    left: 24px;
}

.name__second-section {
    width: 121px;
    left: 40px;
    font-family: "Raleway";
    font-weight: 700px;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    padding-left: 40px;
    padding-right: 173px;
    padding-bottom: 30px;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.card_type_film {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../images/card-lot-01.jpg);
    height: 596px;
    width: 335px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: top center;
    background-size: cover;
}

.card_type_book {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../images/card-lot-02.jpg);
    width: 334px;
    height: 596px;
    left: 359px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: top center;
    background-size: cover;
}

.card_type_picture {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../images/card-lot-03.jpg);
    width: 334px;
    height: 596px;
    top: 65px;
    background-position: top center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: top center;
}

.card__title {
    color: white;
    height: 82px;
    top: 48px;
    left: 40px;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-line: 0%;
    text-decoration-thickness: 0%;
    margin-bottom: 9px;
    padding-left: 40px;
    padding-right: 40px;
}

.card__text {
    width: 254px;
    height: 360px;
    font-family: "Raleway";
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    color: white;
    margin-left: 40px;
    margin-bottom: 48px;
    display: grid;
    align-items: end;
}

.button__section-lot {
    height: 23px;
    top: 700px;
    left: 40px;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
    padding-left: 40px;
    padding-top: 33px;
}

.about {
    padding-top: 145px;
    padding-left: 30px;
    width: 1052px;
    top: 2073px;
    left: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: start;
}

.about__logo {
    position: relative;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.about__logo-image {
    position: relative;
    width: 148px;
    height: 114px;
    left: 46.48px;
    margin-right: 90px;
}

.about__title {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 100%;
    margin-top: 106px;
}

.about__left {
    width: 334px;
    align-items: center;
    justify-content: center;
}

.block__text {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-top: 103px;
}

.about__text {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
}


.footer {
    width: 1100px;
    top: 2848px;
    padding-top: 178px;
    padding-left: 21px;
    padding-right: 24px;
    margin-bottom: 82px;
}

.footer__grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 200px;
}

.address {
    padding-left: 29px;
    padding-bottom: 82px;
    width: 264.57px;
    left: 50px;
    border-width: 1px;
    color: black;
    font-style: normal;
    font-family: "Raleway";
    margin-top: 1px;
}

.footer-address {
    width: 264px;
    left: 50.57px;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0%;
}

.footer-address {
    width: 264px;
    top: 24px;
    left: 50px;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0%;
}

.address {
    width: 260.7px;
    top: 49px;
    left: 51.1px;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0%;
}


.footer__menu-list {
    width: 163.9px;
    top: 1px;
    left: 468.6px;
    border-width: 1px;
    gap: 5px;
    text-align: center;
    list-style: none;
    text-decoration: none;
    margin-left: -20px;
}

.footer__menu-link_active {
    width: 73.7px;
    top: 1px;
    left: 513.7px;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 50px;
    padding-top: 4px;
}

.footer__menu-list-item {
    margin-bottom: 5px;
}

.footer__menu {
    border-width: 1px;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    margin-left: 9px;
    margin-top: 5px;
}

.footer__menu-link_active {
    padding-top: 1px;
    padding-right: 9px;

}

.footer__menu-list li:first-child a {
    text-decoration: none;
}

.footer__menu-list li:first-child {
    list-style: none;
}

.footer__menu-list a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}


.footer__social-list {
    width: 240px;
    top: 1px;
    left: 81px;
    gap: 48px;
    display: flex;
    list-style: none;
    overflow: visible;
    margin-left: -68px;
}

.address a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}